# Intro to Pandas

Pandas is a Python package for data analysis and exposes two new
data structures: Dataframes and Series.

- [Dataframes](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html) store tabular data consisting of rows and columns.
- [Series](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html) are similar to Python's built-in list or set data types.

In this notebook, we will explore the data structures that Pandas
provides, and learn how to interact with them.

### 1. Importing Pandas

To import an external Python library such as Pandas, use Python's
import function. To save yourself some typing later on, you can
give the library you import an alias. Here, we are importing Pandas
and giving it an alias of `pd`.

In [1]:
import pandas as pd

### 2. Creating A Dataframe and Basic Exploration
We will load a CSV file as a dataframe using Panda's `read_csv`
method. This will allow us to use Pandas' dataframe functions to
explore the data in the CSV.

In [2]:
df = pd.read_csv("../../data/loans_full.zip",index_col=0)

/Users/j/virtualenvs/delta/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2683: DtypeWarning: Columns (21,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Once we have loaded the CSV as a dataframe, we can start to explore
the data.  Here are a few useful methods:
    - .head(): returns first 5 rows of the DataFrame
    - .tail(): returns last 5 rows of the DataFrame
    - .shape: returns tuple with first element indicating the number of rows and the second element indicating the number of columns
    - .columns: returns list of all columns in DataFrame
    - .index: returns DataFrame indices
    - .dtypes: returns Series explaining the datatype of each column

In [3]:
df.dtypes

activity                          object
basket_amount                    float64
bonus_credit_eligibility            bool
borrower_count                     int64
currency_exchange_loss_amount    float64
description.languages             object
funded_amount                      int64
id                                 int64
image.id                           int64
image.template_id                  int64
lender_count                       int64
loan_amount                        int64
location.country                  object
location.country_code             object
location.geo.level                object
location.geo.pairs                object
location.geo.type                 object
location.town                     object
name                              object
partner_id                       float64
planned_expiration_date           object
posted_date                       object
sector                            object
status                            object
tags                              object
themes                            object
use                               object
video.id                         float64
video.thumbnailImageId           float64
video.title                       object
video.youtubeId                   object
dtype: object

To get some basic stats of the columns you can either use .describe() for discrete data or .value_counts for categroical data

In [4]:
df.describe()

,basket_amount,borrower_count,currency_exchange_loss_amount,funded_amount,id,image.id,image.template_id,lender_count,loan_amount,partner_id,video.id,video.thumbnailImageId
count,944.000000,127900.000000,24790.000000,127900.000000,1.279000e+05,1.279000e+05,127900.0,127900.000000,127900.000000,118262.00000,76.000000,7.600000e+01
mean,0.185381,1.860868,5.735730,452.238702,7.377539e+05,1.590475e+06,1.0,14.370985,472.349883,165.03559,1291.697368,6.155305e+05
std,2.145937,2.925932,12.991248,655.775669,3.427724e+05,6.066891e+05,0.0,19.631199,682.596785,66.00730,1027.999559,4.622450e+05
min,0.000000,1.000000,0.010000,0.000000,2.510000e+02,4.090000e+02,1.0,0.000000,25.000000,6.00000,150.000000,2.975740e+05
25%,0.000000,1.000000,0.950000,225.000000,4.419678e+05,1.074678e+06,1.0,7.000000,250.000000,133.00000,487.750000,3.244948e+05
50%,0.000000,1.000000,2.560000,350.000000,7.640795e+05,1.683744e+06,1.0,11.000000,350.000000,156.00000,665.500000,3.361080e+05
75%,0.000000,1.000000,6.540000,575.000000,1.064133e+06,2.164059e+06,1.0,18.000000,600.000000,164.00000,2154.250000,6.247900e+05
max,25.000000,46.000000,1285.510000,50000.000000,1.292273e+06,2.516905e+06,1.0,1589.000000,50000.000000,526.00000,3008.000000,1.754457e+06

In [5]:
df['activity'].value_counts()

Farming                           26237
Dairy                              7524
General Store                      6615
Agriculture                        6402
Retail                             5346
Fruits & Vegetables                5222
Clothing Sales                     5192
Grocery Store                      4625
Poultry                            4103
Cereals                            3679
Tailoring                          2910
Motorcycle Transport               2880
Food Stall                         2730
Services                           2694
Clothing                           2322
Charcoal Sales                     2086
Beauty Salon                       2085
Fish Selling                       1778
Food Production/Sales              1699
Food                               1609
Used Clothing                      1526
Home Energy                        1449
Food Market                        1271
Livestock                          1093
Cosmetics Sales                    1014
Cafe                                950
Primary/secondary school costs      926
Butcher Shop                        920
Animal Sales                        895
Restaurant                          827
                                  ...
Textiles                             28
Souvenir Sales                       27
Vehicle                              22
Bicycle Sales                        17
Rickshaw                             16
Child Care                           15
Personal Medical Expenses            13
Consumer Goods                       12
Musical Performance                  12
Cement                               12
Machinery Rental                     11
Utilities                             9
Land Rental                           8
Machine Shop                          7
Mobile Transactions                   4
Sporting Good Sales                   4
Well digging                          3
Cleaning Services                     3
Upholstery                            3
Tourism                               2
Film                                  2
Funerals                              2
Bookbinding                           2
Dental                                2
Technology                            1
Wedding Expenses                      1
Religious Articles                    1
Perfumes                              1
Communications                        1
Celebrations                          1
Name: activity, dtype: int64

### 3. Selecting Data - Part 1
To examine a specfic column of the DataFrame:

In [6]:
df['activity'].head()

0             Farming
1    Furniture Making
2         Home Energy
3       Used Clothing
4             Farming
Name: activity, dtype: object

In [7]:
df[['activity','basket_amount']].tail()

                         activity  basket_amount
127895             Clothing Sales            NaN
127896  Personal Housing Expenses            NaN
127897              General Store            NaN
127898             Clothing Sales            NaN
127899      Food Production/Sales            NaN



To examine specific rows and columns of a Dataframe, Pandas provides
the `iloc` and `loc` methods to do so.  `iloc` is used when you want to specify a list or range of indices, and `.loc` is used when you want to specify a list or range of labels.  

For both of these methods you need to specify two elements, with the first element indicating the rows that you want to select and the second element indicating the columns that you want to select.

In [8]:
# Get rows 1 through 3 and columns 0 through 5.
df.iloc[1:3,:5]

,activity,basket_amount,bonus_credit_eligibility,borrower_count,currency_exchange_loss_amount
1,Furniture Making,0.0,False,1,NaN
2,Home Energy,0.0,False,1,NaN

In [9]:
# Get rows with index values of 2-4 and the columns basket_amount and activity
df.loc[2:4, ["basket_amount", "activity"]]

   basket_amount       activity
2            0.0    Home Energy
3            0.0  Used Clothing
4            0.0        Farming

In [10]:
# To see all the rows and columns:
df.iloc[:,:]

,activity,basket_amount,bonus_credit_eligibility,borrower_count,currency_exchange_loss_amount,description.languages,funded_amount,id,image.id,image.template_id,...,posted_date,sector,status,tags,themes,use,video.id,video.thumbnailImageId,video.title,video.youtubeId
0,Farming,0.0,False,1,NaN,['en'],0,1291548,2516002,1,...,2017-05-09T00:40:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to purchase more tea leaves to sell to the tea...,NaN,NaN,NaN,NaN
1,Furniture Making,0.0,False,1,NaN,['en'],0,1291532,2515992,1,...,2017-05-09T00:30:05Z,Manufacturing,fundraising,[],NaN,to buy timber to make more furniture for his e...,NaN,NaN,NaN,NaN
2,Home Energy,0.0,False,1,NaN,['en'],50,1291530,2515991,1,...,2017-05-09T00:30:04Z,Personal Use,fundraising,"[{'name': '#Eco-friendly'}, {'name': '#Technol...","['Green', 'Earth Day Campaign']",to buy a solar lantern.,NaN,NaN,NaN,NaN
3,Used Clothing,0.0,False,1,NaN,['en'],0,1291525,2515986,1,...,2017-05-09T00:20:04Z,Clothing,fundraising,[{'name': '#Eco-friendly'}],NaN,to buy more clothes to meet the needs and tast...,NaN,NaN,NaN,NaN
4,Farming,0.0,False,1,NaN,['en'],0,1291518,2515975,1,...,2017-05-09T00:20:03Z,Agriculture,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],"to buy farming inputs (fertilizers, pesticides...",NaN,NaN,NaN,NaN
5,Used Clothing,0.0,False,1,NaN,['en'],0,1291513,2515968,1,...,2017-05-09T00:10:04Z,Clothing,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Eco-...",NaN,to buy more bales of clothes to grow her busin...,NaN,NaN,NaN,NaN
6,Farming,25.0,False,1,NaN,['en'],125,1291516,2515972,1,...,2017-05-09T00:10:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds so that she can begin horticultur...,NaN,NaN,NaN,NaN
7,Pigs,0.0,False,1,NaN,['en'],0,1291490,2515937,1,...,2017-05-08T23:30:09Z,Agriculture,fundraising,[{'name': '#Animals'}],NaN,"to buy pig feeds and logs to burn charcoal, so...",NaN,NaN,NaN,NaN
8,Farming,0.0,False,1,NaN,['en'],0,1291494,2511365,1,...,2017-05-08T23:30:05Z,Agriculture,fundraising,[],NaN,to purchase farm inputs.,NaN,NaN,NaN,NaN
9,Cereals,0.0,False,1,NaN,['en'],0,1291486,2515930,1,...,2017-05-08T23:20:06Z,Food,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy cereals to sell at her local market.,NaN,NaN,NaN,NaN
10,Farming,0.0,False,1,NaN,['en'],0,1291483,2515928,1,...,2017-05-08T23:10:07Z,Agriculture,fundraising,[{'name': '#Biz Durable Asset'}],['Rural Exclusion'],to buy farm tools and equipment.,NaN,NaN,NaN,NaN
11,Farming,0.0,False,1,NaN,['en'],0,1291478,2515925,1,...,2017-05-08T23:00:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds to start horticultural farming.,NaN,NaN,NaN,NaN
12,Dairy,0.0,False,1,NaN,['en'],0,1291468,2515912,1,...,2017-05-08T22:50:07Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Anim...",NaN,to buy cow feeds to have better milk productio...,NaN,NaN,NaN,NaN
13,Farming,0.0,False,1,NaN,['en'],0,1291463,2515906,1,...,2017-05-08T22:50:06Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds and start horticulture farming.,NaN,NaN,NaN,NaN
14,Farming,0.0,False,1,NaN,['en'],0,1291423,2515840,1,...,2017-05-08T22:30:07Z,Agriculture,fundraising,[],NaN,for buying irrigation pipes and drips to water...,NaN,NaN,NaN,NaN
15,Farming,0.0,False,1,NaN,['en'],0,1291444,2515874,1,...,2017-05-08T22:30:06Z,Agriculture,fundraising,[],['Rural Exclusion'],to buy farm inputs such as fertilizer and seed...,NaN,NaN,NaN,NaN
16,Primary/secondary school costs,NaN,False,1,NaN,['en'],150,1291449,2515878,1,...,2017-05-08T22:30:06Z,Education,funded,"[{'name': '#Parent'}, {'name': '#Schooling'}]",NaN,to pay school fees for her children.,NaN,NaN,NaN,NaN
17,Farming,0.0,False,1,NaN,['en'],0,1291450,2515881,1,...,2017-05-08T22:30:06Z,Agriculture,fundraising,[],['Rural Exclusion'],"to buy fertilizers, pesticides, and herbicides.",NaN,NaN,NaN,NaN
18,Dairy,0.0,False,1,NaN,['en'],0,1291421,2510863,1,...,2017-05-08T22:30:03Z,Agriculture,fundraising,"[{'name': '#Animals'}, {'name': '#Elderly'}]",NaN,to buy feeds for the cattle.,NaN,NaN,NaN,NaN
19,Clothing Sales,0.0,False,1,NaN,['en'],0,1291399,2510648,1,...,2017-05-08T22:20:03Z,Clothing,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Repe...",NaN,to purchase clothing materials.,NaN,NaN,NaN,NaN
20,Grocery Store,0.0,False,1,NaN,['en'],0,1291416,2510764,1,...,2017-05-08T22:20:03Z,Food,fundraising,[{'name': '#Parent'}],NaN,"to buy more groceries like Irish potatoes, oni...",NaN,NaN,NaN,NaN
21,Celebrations,NaN,False,1,NaN,['en'],100,1291404,2515811,1,...,2017-05-08T22:10:05Z,Personal Use,funded,"[{'name': '#Animals'}, {'name': '#Parent'}, {'...",NaN,to buy a goat for a celebration during the Eas...,NaN,NaN,NaN,NaN
22,Cereals,0.0,False,1,NaN,['en'],0,1291407,2515817,1,...,2017-05-08T22:10:04Z,Food,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy cereals to sell at her local market.,NaN,NaN,NaN,NaN
23,Transportation,0.0,False,1,NaN,['en'],0,1291389,2515795,1,...,2017-05-08T21:40:07Z,Transportation,fundraising,[],NaN,to buy spare parts for his vehicle to keep him...,NaN,NaN,NaN,NaN
24,Farming,0.0,False,1,NaN,['en'],50,1291241,2515626,1,...,2017-05-08T21:30:06Z,Agriculture,fundraising,[{'name': '#Parent'}],['Rural Exclusion'],"to buy farm inputs such as good-quality seeds,...",NaN,NaN,NaN,NaN
25,Primary/secondary school costs,25.0,False,1,NaN,['en'],175,1291387,2515791,1,...,2017-05-08T21:30:06Z,Education,fundraising,"[{'name': '#Parent'}, {'name': '#Schooling'}]",NaN,to pay tuition fees for her children.,NaN,NaN,NaN,NaN
26,Primary/secondary school costs,NaN,False,1,NaN,['en'],150,1291369,2515770,1,...,2017-05-08T21:00:06Z,Education,funded,"[{'name': '#Parent'}, {'name': '#Schooling'}]",NaN,to pay school fees for her children so they ca...,NaN,NaN,NaN,NaN
27,Cereals,0.0,False,1,NaN,['en'],0,1291215,2515595,1,...,2017-05-08T20:50:05Z,Food,fundraising,[{'name': 'volunteer_like'}],['Rural Exclusion'],to buy more cereals to sell to her customers.,NaN,NaN,NaN,NaN
28,Primary/secondary school costs,25.0,False,1,NaN,['en'],500,1291218,2515599,1,...,2017-05-08T20:50:05Z,Education,fundraising,"[{'name': 'volunteer_like'}, {'name': '#Parent...",NaN,to pay school fees for her children.,NaN,NaN,NaN,NaN
29,Grocery Store,0.0,False,1,NaN,['en'],175,1291355,2515752,1,...,2017-05-08T20:50:05Z,Food,fundraising,[{'name': '#Schooling'}],['Rural Exclusion'],to open a grocery store.,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
127870,Farming,NaN,False,1,NaN,['en'],450,459,637,1,...,2006-06-03T01:27:11Z,Agriculture,funded,[],NaN,A loan of USD 450 Will help Maari to buy seven...,NaN,NaN,NaN,NaN
127871,Grocery Store,NaN,False,1,NaN,['en'],450,437,610,1,...,2006-05-17T17:57:49Z,Food,funded,[],NaN,She intends to increase supply of milk by buyi...,NaN,NaN,NaN,NaN
127872,Grocery Store,NaN,False,1,NaN,['en'],300,436,609,1,...,2006-05-17T17:48:22Z,Food,funded,[],NaN,She wants to buy a dairy cow to start selling ...,NaN,NaN,NaN,NaN
127873,Milk Sales,NaN,False,1,NaN,['en'],325,435,608,1,...,2006-05-17T17:45:50Z,Food,funded,[],NaN,She wants to buy another dairy cow to increase...,NaN,NaN,NaN,NaN
127874,Crafts,NaN,False,1,NaN,['en'],450,434,607,1,...,2006-05-17T17:44:20Z,Arts,funded,[],NaN,She would like to use this loan for school fee...,NaN,NaN,NaN,NaN
127875,Farming,NaN,False,1,NaN,['en'],450,433,606,1,...,2006-05-17T17:41:53Z,Agriculture,funded,[],NaN,She wants to buy another cow to increase milk ...,NaN,NaN,NaN,NaN
127876,Land Rental,NaN,False,1,NaN,['en'],300,432,605,1,...,2006-05-17T17:41:01Z,Agriculture,funded,[],NaN,She wants to construct another room because th...,NaN,NaN,NaN,NaN
127877,Food Production/Sales,NaN,False,1,NaN,['en'],300,431,604,1,...,2006-05-17T17:34:25Z,Food,funded,[],NaN,She wants to buy a dairy cow because there is ...,NaN,NaN,NaN,NaN
127878,Grocery Store,NaN,False,1,NaN,['en'],300,430,603,1,...,2006-05-17T17:33:38Z,Food,funded,[],NaN,She intends to increase the purchases such tha...,NaN,NaN,NaN,NaN
127879,Grocery Store,NaN,False,1,NaN,['en'],150,429,602,1,...,2006-05-17T17:32:50Z,Food,funded,[],NaN,She wants to pay school fees for her daughter ...,NaN,NaN,NaN,NaN
127880,Butcher Shop,NaN,False,1,NaN,['en'],750,428,601,1,...,2006-05-17T17:29:25Z,Food,funded,[],NaN,Inorder to match with the demand every end of ...,NaN,NaN,NaN,NaN
127881,Dairy,NaN,False,1,NaN,['en'],1000,251,411,1,...,2006-05-15T17:00:00Z,Agriculture,funded,[],NaN,She intends to open up a milk collecting centr...,NaN,NaN,NaN,NaN
127882,Phone Accessories,NaN,False,1,NaN,['en'],225,252,409,1,...,2006-05-15T17:00:00Z,Retail,funded,[],NaN,The loan applied for will be used for re-stock...,NaN,NaN,NaN,NaN
127883,Printing,NaN,False,1,NaN,['en'],300,253,413,1,...,2006-05-15T17:00:00Z,Services,funded,[],NaN,The loan applied for of USD 300 will be used t...,NaN,NaN,NaN,NaN
127884,Furniture Making,NaN,False,1,NaN,['en'],1100,254,414,1,...,2006-05-15T17:00:00Z,Manufacturing,funded,[],NaN,Given the loan of USD.1100 She will purchase a...,NaN,NaN,NaN,NaN
127885,Used Clothing,NaN,False,1,NaN,['en'],300,255,412,1,...,2006-05-15T17:00:00Z,Clothing,funded,[],NaN,"As a result of increased clientele, she is to ...",NaN,NaN,NaN,NaN
127886,Textiles,NaN,False,1,NaN,['en'],450,407,578,1,...,2006-05-07T00:28:56Z,Arts,funded,[],NaN,Business is very good during the month of June...,NaN,NaN,NaN,NaN
127887,Food Production/Sales,NaN,False,1,NaN,['en'],225,406,577,1,...,2006-05-07T00:28:11Z,Food,funded,[],NaN,To increase my stock of Rice to meet the deman...,NaN,NaN,NaN,NaN
127888,Restaurant,NaN,False,1,NaN,['en'],300,405,576,1,...,2006-05-07T00:25:45Z,Food,funded,[],NaN,To renovate the restaurant and increase my sto...,NaN,NaN,NaN,NaN
127889,Food Production/Sales,NaN,False,1,NaN,['en'],225,404,575,1,...,2006-05-07T00:24:12Z,Food,funded,[],NaN,I have been selling maize and beans and I want...,NaN,NaN,NaN,NaN
127890,General Store,NaN,False,1,NaN,['en'],450,403,574,1,...,2006-05-07T00:18:21Z,Retail,funded,[],NaN,The money am requesting for will be used to bu...,NaN,NaN,NaN,NaN
127891,Beverages,NaN,False,1,NaN,['en'],300,402,573,1,...,2006-05-07T00:17:26Z,Food,funded,[],NaN,I would like to start selling sodas.I have bee...,NaN,NaN,NaN,NaN
127892,Farming,NaN,False,1,NaN,['en'],300,401,572,1,...,2006-05-05T21:06:14Z,Agriculture,funded,[],NaN,The loan applied for will be used to buy pesti...,NaN,NaN,NaN,NaN
127893,Clothing Sales,NaN,False,1,NaN,['en'],225,400,571,1,...,2006-05-05T21:04:46Z,Clothing,funded,[],NaN,I would like to stock new clothes. I have been...,NaN,NaN,NaN,NaN
127894,Grocery Store,NaN,False,1,NaN,['en'],225,399,569,1,...,2006-05-05T21:01:57Z,Food,funded,[],NaN,She wants to include a variety of vegetables a...,NaN,NaN,NaN,NaN
127895,Clothing Sales,NaN,False,1,NaN,['en'],300,337,498,1,...,2006-04-19T22:19:30Z,Clothing,funded,[],NaN,Given a loan of USD 300 Miriam will enable her...,NaN,NaN,NaN,NaN
127896,Personal Housing Expenses,NaN,False,1,NaN,['en'],300,342,503,1,...,2006-04-19T22:13:46Z,Housing,funded,[],NaN,A loan of USD300 will help her maintain the ch...,NaN,NaN,NaN,NaN
127897,General Store,NaN,False,1,NaN,['en'],225,343,504,1,...,2006-04-19T22:13:09Z,Retail,funded,[],NaN,With the USD 225 she will increase stock and t...,NaN,NaN,NaN,NaN
127898,Clothing Sales,NaN,False,1,NaN,['en'],150,344,505,1,...,2006-04-19T22:12:35Z,Clothing,funded,[],NaN,"If a loan of USD 150 is given, she will increa...",NaN,NaN,NaN,NaN
127899,Food Production/Sales,NaN,False,1,NaN,['en'],150,345,506,1,...,2006-04-19T22:11:33Z,Food,funded,[],NaN,Sale of Produce and Milk.,NaN,NaN,NaN,NaN

In [11]:
# You can also store a slice of the dataframe as a new dataframe!
titles_df = df.iloc[:,2]
titles_df.head()

0    False
1    False
2    False
3    False
4    False
Name: bonus_credit_eligibility, dtype: bool

### 4. Select subets of the DataFrame

A powerful feature of DataFrames is that you can view a subset of the DataFrame based on the values of the columns or rows.  For example, lets say you only wanted to view loans with a status of "expired"

In [12]:
df[df['status']=='expired']

,activity,basket_amount,bonus_credit_eligibility,borrower_count,currency_exchange_loss_amount,description.languages,funded_amount,id,image.id,image.template_id,...,posted_date,sector,status,tags,themes,use,video.id,video.thumbnailImageId,video.title,video.youtubeId
2399,Agriculture,NaN,False,1,NaN,['en'],450,1269956,2487120,1,...,2017-04-05T22:30:06Z,Agriculture,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],"to buy high quality fertilizers, pesticides, a...",NaN,NaN,NaN,NaN
2410,Motorcycle Transport,NaN,False,1,NaN,['en'],450,1269436,2486319,1,...,2017-04-05T16:00:04Z,Transportation,expired,"[{'name': 'user_favorite'}, {'name': '#Job Cre...",NaN,to buy another motorbike to grow his fleet.,NaN,NaN,NaN,NaN
2418,Farming,NaN,False,1,NaN,['en'],325,1269478,2486409,1,...,2017-04-05T14:00:03Z,Agriculture,expired,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],"to buy fertilizers, pesticides, and herbicides.",NaN,NaN,NaN,NaN
2426,Farming,NaN,False,11,NaN,['en'],325,1269447,2412655,1,...,2017-04-05T12:40:04Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost-efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
2429,General Store,NaN,False,1,NaN,['en'],475,1269432,2486356,1,...,2017-04-05T12:20:05Z,Retail,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to add stock of confectioneries and soft drink...,NaN,NaN,NaN,NaN
2442,General Store,NaN,False,1,NaN,['en'],450,1269319,2480311,1,...,2017-04-05T01:00:03Z,Retail,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to purchase more sodas to sell.,NaN,NaN,NaN,NaN
2469,Dairy,NaN,False,1,NaN,['en'],675,1269201,2486118,1,...,2017-04-04T20:40:06Z,Agriculture,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Anim...",['Rural Exclusion'],to buy animal feeds.,NaN,NaN,NaN,NaN
2965,Cereals,NaN,False,1,NaN,['en'],250,1262767,2477426,1,...,2017-03-28T04:40:05Z,Food,expired,[{'name': '#Parent'}],['Rural Exclusion'],the borrower buy cereals and resell them at he...,NaN,NaN,NaN,NaN
2967,Shoe Sales,NaN,True,1,NaN,['en'],75,1263710,2478596,1,...,2017-03-28T04:40:02Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,to buy more stock of shoes.,NaN,NaN,NaN,NaN
2969,Retail,NaN,True,1,NaN,['en'],325,1264027,2478922,1,...,2017-03-28T04:00:05Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,to buy more stocks of clothes.,NaN,NaN,NaN,NaN
2972,Restaurant,NaN,False,1,NaN,['en'],150,1263930,2478831,1,...,2017-03-27T23:50:05Z,Food,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Elde...",NaN,"to buy sugar, bread and vegetables for serving...",NaN,NaN,NaN,NaN
2974,Farming,NaN,True,1,NaN,['en'],125,1263926,2478829,1,...,2017-03-27T23:40:03Z,Agriculture,expired,"[{'name': '#Vegan'}, {'name': '#Repeat Borrowe...",['Rural Exclusion'],to buy farm inputs to boost production.,NaN,NaN,NaN,NaN
2980,Farming,NaN,False,1,NaN,['en'],250,1263879,2478788,1,...,2017-03-27T22:10:04Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Woman O...",['Rural Exclusion'],"to buy fertilizers, pesticides and herbicides.",NaN,NaN,NaN,NaN
2982,Motorcycle Transport,NaN,True,1,NaN,['en'],350,1263877,2478767,1,...,2017-03-27T22:00:03Z,Transportation,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to service and maintain his motorcycle.,NaN,NaN,NaN,NaN
2985,Restaurant,NaN,True,1,NaN,['en'],200,1263751,2478640,1,...,2017-03-27T21:20:03Z,Food,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to buy stocks of ingredients for preparing foo...,NaN,NaN,NaN,NaN
2987,Farming,NaN,False,1,NaN,['en'],225,1263840,2478738,1,...,2017-03-27T21:20:03Z,Agriculture,expired,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],"to buy fertilizers, pesticides, and herbicides.",NaN,NaN,NaN,NaN
2989,Plastics Sales,NaN,True,1,NaN,['en'],525,1263851,2478753,1,...,2017-03-27T21:20:03Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Woman O...",NaN,to buy more stock of plastic containers.,NaN,NaN,NaN,NaN
3015,General Store,NaN,True,1,NaN,['en'],525,1263744,2478633,1,...,2017-03-27T18:20:02Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Woman O...",NaN,"to buy more stock of sugar, bread, flour, rice...",NaN,NaN,NaN,NaN
3043,Cereals,NaN,True,1,NaN,['en'],650,1263573,2478436,1,...,2017-03-27T14:00:03Z,Food,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Vega...",NaN,to buy more stock of cereals.,NaN,NaN,NaN,NaN
3058,Cereals,NaN,False,1,NaN,['en'],250,1263545,2478396,1,...,2017-03-27T11:00:05Z,Food,expired,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy cereals to sell at her local market.,NaN,NaN,NaN,NaN
3061,General Store,NaN,True,1,NaN,['en'],200,1263531,2478364,1,...,2017-03-27T10:30:02Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,"to buy more stock of bread, flour, soap, flour...",NaN,NaN,NaN,NaN
3063,Beauty Salon,NaN,True,1,NaN,['en'],550,1263522,2478356,1,...,2017-03-27T10:20:02Z,Services,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to buy more beauty products for salon use.,NaN,NaN,NaN,NaN
3072,Fruits & Vegetables,NaN,True,1,NaN,['en'],525,1263487,2478313,1,...,2017-03-27T09:40:02Z,Food,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Vega...",NaN,to buy more stock of kale and other vegetables.,NaN,NaN,NaN,NaN
3087,Cereals,NaN,False,1,NaN,['en'],150,1262863,2477500,1,...,2017-03-26T19:30:04Z,Food,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy cereals and sell at her local market.,NaN,NaN,NaN,NaN
3142,Taxi,NaN,True,1,NaN,['en'],350,1262557,2477168,1,...,2017-03-26T03:30:03Z,Transportation,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,to repair his taxi cab.,NaN,NaN,NaN,NaN
3242,Restaurant,NaN,False,1,NaN,['en'],350,1261519,2475861,1,...,2017-03-24T01:20:03Z,Food,expired,"[{'name': 'user_favorite'}, {'name': '#Woman O...",NaN,to buy rice and cooking oil to feed more clien...,NaN,NaN,NaN,NaN
3356,Retail,NaN,True,1,NaN,['en'],275,1260515,2474416,1,...,2017-03-22T15:30:05Z,Retail,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to buy more stock of bags.,NaN,NaN,NaN,NaN
3367,Food Market,NaN,True,1,NaN,['en'],600,1260495,2474394,1,...,2017-03-22T13:40:02Z,Food,expired,"[{'name': '#Parent'}, {'name': '#Schooling'}, ...",NaN,to buy more stock of eggs.,NaN,NaN,NaN,NaN
3396,Farming,NaN,False,11,NaN,['en'],550,1260044,2390215,1,...,2017-03-22T00:50:03Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase hybrid seeds and fertilizer to imp...,NaN,NaN,NaN,NaN
3403,General Store,NaN,False,1,NaN,['en'],250,1260095,2473838,1,...,2017-03-22T00:00:03Z,Retail,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],"to buy more stock of sugar, bread, flour, soap...",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98963,Spare Parts,NaN,False,1,NaN,['en'],450,413922,682362,1,...,2012-04-17T19:30:03Z,Retail,expired,[],NaN,buy vehicle spare parts.,NaN,NaN,NaN,NaN
98986,Clothing Sales,NaN,False,1,NaN,['en'],850,413842,1056844,1,...,2012-04-17T15:20:02Z,Clothing,expired,[],NaN,"to purchase leather jackets, clothes materials...",NaN,NaN,NaN,NaN
99106,General Store,NaN,False,1,NaN,['en'],275,412277,1064283,1,...,2012-04-13T05:10:02Z,Retail,expired,[],NaN,"To buy sugar, rice, cooking oil and maize flou...",NaN,NaN,NaN,NaN
99113,Milk Sales,NaN,False,1,NaN,['en'],600,411961,1063571,1,...,2012-04-12T14:20:04Z,Food,expired,[],NaN,To buy milk for resale.,NaN,NaN,NaN,NaN
99123,General Store,NaN,False,1,NaN,['en'],400,411973,1063592,1,...,2012-04-12T13:40:06Z,Retail,expired,[],NaN,"To buy maize flour, cooking oil, rice and suga...",NaN,NaN,NaN,NaN
99155,Clothing Sales,NaN,False,1,NaN,['en'],300,411855,1063407,1,...,2012-04-12T09:20:03Z,Clothing,expired,[],NaN,to buy bags and shoes for resale.,NaN,NaN,NaN,NaN
99167,Used Clothing,NaN,False,1,NaN,['en'],375,411844,1063392,1,...,2012-04-12T03:00:04Z,Clothing,expired,[],NaN,To buy used clothes for sale.,NaN,NaN,NaN,NaN
99171,Motorcycle Transport,NaN,False,1,NaN,['en'],100,411574,1062842,1,...,2012-04-11T18:20:03Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99174,Taxi,NaN,False,1,NaN,['en'],150,411568,1062825,1,...,2012-04-11T18:00:17Z,Transportation,expired,[],NaN,To buy new tires for his car.,NaN,NaN,NaN,NaN
99175,Motorcycle Transport,NaN,False,1,NaN,['en'],175,411569,1062828,1,...,2012-04-11T18:00:17Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99178,Used Shoes,NaN,False,1,NaN,['en'],225,411565,1062820,1,...,2012-04-11T17:00:06Z,Clothing,expired,[],NaN,to buy used shoes to sell.,NaN,NaN,NaN,NaN
99179,Grocery Store,NaN,False,1,NaN,['en'],450,411521,1062748,1,...,2012-04-11T15:00:11Z,Food,expired,[],NaN,"To buy sugar, rice, cooking oil and tea leaves...",NaN,NaN,NaN,NaN
99222,Motorcycle Transport,NaN,False,1,NaN,['en'],1050,411084,1061367,1,...,2012-04-10T15:50:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
99230,General Store,NaN,False,1,NaN,['en'],250,411028,1061244,1,...,2012-04-10T14:30:04Z,Retail,expired,[],NaN,"To buy sugar, maize flour, cooking oil and sod...",NaN,NaN,NaN,NaN
99234,Motorcycle Transport,NaN,False,1,NaN,['en'],1100,411008,1061184,1,...,2012-04-10T14:00:06Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99248,Spare Parts,NaN,False,1,NaN,['en'],550,410713,1060307,1,...,2012-04-10T01:00:06Z,Retail,expired,[],NaN,To buy motor vehicle spare parts to sell.,NaN,NaN,NaN,NaN
99266,Animal Sales,NaN,False,1,NaN,['en'],975,410601,889282,1,...,2012-04-09T19:00:07Z,Agriculture,expired,[],NaN,to purchase building materials for constructin...,NaN,NaN,NaN,NaN
99275,Phone Accessories,NaN,False,1,NaN,['en'],525,410189,1059194,1,...,2012-04-08T15:50:04Z,Retail,expired,[],NaN,"To buy phone chargers, batteries, and spare pa...",NaN,NaN,NaN,NaN
99279,Motorcycle Transport,NaN,False,1,NaN,['en'],300,410048,1055316,1,...,2012-04-08T14:00:07Z,Transportation,expired,[],NaN,To buy another motorbike.,NaN,NaN,NaN,NaN
99309,General Store,NaN,False,1,NaN,['en'],425,409399,1052545,1,...,2012-04-07T14:00:08Z,Retail,expired,[],NaN,to purchase more goods and pay for his license.,NaN,NaN,NaN,NaN
99339,Tailoring,NaN,False,1,NaN,['en'],350,408862,1056676,1,...,2012-04-06T21:40:03Z,Services,expired,[],NaN,To buy a tailoring machine and cloth.,NaN,NaN,NaN,NaN
99438,Electronics Sales,NaN,False,1,NaN,['en'],825,407487,1048692,1,...,2012-04-05T16:00:08Z,Retail,expired,[],NaN,To buy more stock of electronic items for sale.,NaN,NaN,NaN,NaN
99535,Retail,NaN,False,1,NaN,['en'],875,404126,1041652,1,...,2012-04-01T08:20:02Z,Retail,expired,[],NaN,"to buy stock like sugar, cooking oil, and whea...",NaN,NaN,NaN,NaN
100154,Retail,NaN,False,1,NaN,['en'],175,403034,1036441,1,...,2012-03-16T09:50:07Z,Retail,expired,[],NaN,"To buy sugar, soda, maize flour and rice to sell.",NaN,NaN,NaN,NaN
100743,General Store,NaN,False,1,NaN,['en'],825,398456,1017592,1,...,2012-03-05T17:30:03Z,Retail,expired,[],NaN,"to buy sugar, rice, and cooking fat to offer f...",NaN,NaN,NaN,NaN
101800,Music Discs & Tapes,NaN,False,1,NaN,['en'],750,390800,1002253,1,...,2012-02-11T21:00:10Z,Retail,expired,[],NaN,to purchase more disks and CDs to sell.,NaN,NaN,NaN,NaN
101990,Motorcycle Transport,NaN,False,1,NaN,['en'],750,389594,1001435,1,...,2012-02-08T11:40:03Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102003,Phone Accessories,NaN,False,1,NaN,['en'],600,389541,1000098,1,...,2012-02-08T01:50:02Z,Retail,expired,[],NaN,to buy mobile phone accesories.,NaN,NaN,NaN,NaN
102004,Motorcycle Transport,NaN,False,1,NaN,['en'],875,389544,1000100,1,...,2012-02-08T01:30:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102026,Taxi,NaN,False,1,NaN,['en'],900,389427,1001163,1,...,2012-02-07T17:10:08Z,Transportation,expired,[],NaN,To buy tires for his car.,NaN,NaN,NaN,NaN

To view all loans with a status of "expired" `or` "fundraising":

In [13]:
df[(df['status']=='expired')|(df['status']=='fundraising')]

,activity,basket_amount,bonus_credit_eligibility,borrower_count,currency_exchange_loss_amount,description.languages,funded_amount,id,image.id,image.template_id,...,posted_date,sector,status,tags,themes,use,video.id,video.thumbnailImageId,video.title,video.youtubeId
0,Farming,0.0,False,1,NaN,['en'],0,1291548,2516002,1,...,2017-05-09T00:40:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to purchase more tea leaves to sell to the tea...,NaN,NaN,NaN,NaN
1,Furniture Making,0.0,False,1,NaN,['en'],0,1291532,2515992,1,...,2017-05-09T00:30:05Z,Manufacturing,fundraising,[],NaN,to buy timber to make more furniture for his e...,NaN,NaN,NaN,NaN
2,Home Energy,0.0,False,1,NaN,['en'],50,1291530,2515991,1,...,2017-05-09T00:30:04Z,Personal Use,fundraising,"[{'name': '#Eco-friendly'}, {'name': '#Technol...","['Green', 'Earth Day Campaign']",to buy a solar lantern.,NaN,NaN,NaN,NaN
3,Used Clothing,0.0,False,1,NaN,['en'],0,1291525,2515986,1,...,2017-05-09T00:20:04Z,Clothing,fundraising,[{'name': '#Eco-friendly'}],NaN,to buy more clothes to meet the needs and tast...,NaN,NaN,NaN,NaN
4,Farming,0.0,False,1,NaN,['en'],0,1291518,2515975,1,...,2017-05-09T00:20:03Z,Agriculture,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],"to buy farming inputs (fertilizers, pesticides...",NaN,NaN,NaN,NaN
5,Used Clothing,0.0,False,1,NaN,['en'],0,1291513,2515968,1,...,2017-05-09T00:10:04Z,Clothing,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Eco-...",NaN,to buy more bales of clothes to grow her busin...,NaN,NaN,NaN,NaN
6,Farming,25.0,False,1,NaN,['en'],125,1291516,2515972,1,...,2017-05-09T00:10:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds so that she can begin horticultur...,NaN,NaN,NaN,NaN
7,Pigs,0.0,False,1,NaN,['en'],0,1291490,2515937,1,...,2017-05-08T23:30:09Z,Agriculture,fundraising,[{'name': '#Animals'}],NaN,"to buy pig feeds and logs to burn charcoal, so...",NaN,NaN,NaN,NaN
8,Farming,0.0,False,1,NaN,['en'],0,1291494,2511365,1,...,2017-05-08T23:30:05Z,Agriculture,fundraising,[],NaN,to purchase farm inputs.,NaN,NaN,NaN,NaN
9,Cereals,0.0,False,1,NaN,['en'],0,1291486,2515930,1,...,2017-05-08T23:20:06Z,Food,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy cereals to sell at her local market.,NaN,NaN,NaN,NaN
10,Farming,0.0,False,1,NaN,['en'],0,1291483,2515928,1,...,2017-05-08T23:10:07Z,Agriculture,fundraising,[{'name': '#Biz Durable Asset'}],['Rural Exclusion'],to buy farm tools and equipment.,NaN,NaN,NaN,NaN
11,Farming,0.0,False,1,NaN,['en'],0,1291478,2515925,1,...,2017-05-08T23:00:03Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds to start horticultural farming.,NaN,NaN,NaN,NaN
12,Dairy,0.0,False,1,NaN,['en'],0,1291468,2515912,1,...,2017-05-08T22:50:07Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Anim...",NaN,to buy cow feeds to have better milk productio...,NaN,NaN,NaN,NaN
13,Farming,0.0,False,1,NaN,['en'],0,1291463,2515906,1,...,2017-05-08T22:50:06Z,Agriculture,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],to buy seeds and start horticulture farming.,NaN,NaN,NaN,NaN
14,Farming,0.0,False,1,NaN,['en'],0,1291423,2515840,1,...,2017-05-08T22:30:07Z,Agriculture,fundraising,[],NaN,for buying irrigation pipes and drips to water...,NaN,NaN,NaN,NaN
15,Farming,0.0,False,1,NaN,['en'],0,1291444,2515874,1,...,2017-05-08T22:30:06Z,Agriculture,fundraising,[],['Rural Exclusion'],to buy farm inputs such as fertilizer and seed...,NaN,NaN,NaN,NaN
17,Farming,0.0,False,1,NaN,['en'],0,1291450,2515881,1,...,2017-05-08T22:30:06Z,Agriculture,fundraising,[],['Rural Exclusion'],"to buy fertilizers, pesticides, and herbicides.",NaN,NaN,NaN,NaN
18,Dairy,0.0,False,1,NaN,['en'],0,1291421,2510863,1,...,2017-05-08T22:30:03Z,Agriculture,fundraising,"[{'name': '#Animals'}, {'name': '#Elderly'}]",NaN,to buy feeds for the cattle.,NaN,NaN,NaN,NaN
19,Clothing Sales,0.0,False,1,NaN,['en'],0,1291399,2510648,1,...,2017-05-08T22:20:03Z,Clothing,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Repe...",NaN,to purchase clothing materials.,NaN,NaN,NaN,NaN
20,Grocery Store,0.0,False,1,NaN,['en'],0,1291416,2510764,1,...,2017-05-08T22:20:03Z,Food,fundraising,[{'name': '#Parent'}],NaN,"to buy more groceries like Irish potatoes, oni...",NaN,NaN,NaN,NaN
22,Cereals,0.0,False,1,NaN,['en'],0,1291407,2515817,1,...,2017-05-08T22:10:04Z,Food,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy cereals to sell at her local market.,NaN,NaN,NaN,NaN
23,Transportation,0.0,False,1,NaN,['en'],0,1291389,2515795,1,...,2017-05-08T21:40:07Z,Transportation,fundraising,[],NaN,to buy spare parts for his vehicle to keep him...,NaN,NaN,NaN,NaN
24,Farming,0.0,False,1,NaN,['en'],50,1291241,2515626,1,...,2017-05-08T21:30:06Z,Agriculture,fundraising,[{'name': '#Parent'}],['Rural Exclusion'],"to buy farm inputs such as good-quality seeds,...",NaN,NaN,NaN,NaN
25,Primary/secondary school costs,25.0,False,1,NaN,['en'],175,1291387,2515791,1,...,2017-05-08T21:30:06Z,Education,fundraising,"[{'name': '#Parent'}, {'name': '#Schooling'}]",NaN,to pay tuition fees for her children.,NaN,NaN,NaN,NaN
27,Cereals,0.0,False,1,NaN,['en'],0,1291215,2515595,1,...,2017-05-08T20:50:05Z,Food,fundraising,[{'name': 'volunteer_like'}],['Rural Exclusion'],to buy more cereals to sell to her customers.,NaN,NaN,NaN,NaN
28,Primary/secondary school costs,25.0,False,1,NaN,['en'],500,1291218,2515599,1,...,2017-05-08T20:50:05Z,Education,fundraising,"[{'name': 'volunteer_like'}, {'name': '#Parent...",NaN,to pay school fees for her children.,NaN,NaN,NaN,NaN
29,Grocery Store,0.0,False,1,NaN,['en'],175,1291355,2515752,1,...,2017-05-08T20:50:05Z,Food,fundraising,[{'name': '#Schooling'}],['Rural Exclusion'],to open a grocery store.,NaN,NaN,NaN,NaN
30,Farming,0.0,False,1,NaN,['en'],0,1291347,2515744,1,...,2017-05-08T20:40:06Z,Agriculture,fundraising,[{'name': '#Woman Owned Biz'}],['Rural Exclusion'],to buy farm supplies and seeds in order to imp...,NaN,NaN,NaN,NaN
31,Fruits & Vegetables,0.0,False,1,NaN,['en'],0,1291328,2515721,1,...,2017-05-08T20:00:07Z,Food,fundraising,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to add stock of tomatoes and watermelons to sell.,NaN,NaN,NaN,NaN
32,Farming,0.0,False,1,NaN,['en'],0,1291304,2515694,1,...,2017-05-08T19:40:05Z,Agriculture,fundraising,[],['Rural Exclusion'],to buy good quality fertilizer and other farmi...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98963,Spare Parts,NaN,False,1,NaN,['en'],450,413922,682362,1,...,2012-04-17T19:30:03Z,Retail,expired,[],NaN,buy vehicle spare parts.,NaN,NaN,NaN,NaN
98986,Clothing Sales,NaN,False,1,NaN,['en'],850,413842,1056844,1,...,2012-04-17T15:20:02Z,Clothing,expired,[],NaN,"to purchase leather jackets, clothes materials...",NaN,NaN,NaN,NaN
99106,General Store,NaN,False,1,NaN,['en'],275,412277,1064283,1,...,2012-04-13T05:10:02Z,Retail,expired,[],NaN,"To buy sugar, rice, cooking oil and maize flou...",NaN,NaN,NaN,NaN
99113,Milk Sales,NaN,False,1,NaN,['en'],600,411961,1063571,1,...,2012-04-12T14:20:04Z,Food,expired,[],NaN,To buy milk for resale.,NaN,NaN,NaN,NaN
99123,General Store,NaN,False,1,NaN,['en'],400,411973,1063592,1,...,2012-04-12T13:40:06Z,Retail,expired,[],NaN,"To buy maize flour, cooking oil, rice and suga...",NaN,NaN,NaN,NaN
99155,Clothing Sales,NaN,False,1,NaN,['en'],300,411855,1063407,1,...,2012-04-12T09:20:03Z,Clothing,expired,[],NaN,to buy bags and shoes for resale.,NaN,NaN,NaN,NaN
99167,Used Clothing,NaN,False,1,NaN,['en'],375,411844,1063392,1,...,2012-04-12T03:00:04Z,Clothing,expired,[],NaN,To buy used clothes for sale.,NaN,NaN,NaN,NaN
99171,Motorcycle Transport,NaN,False,1,NaN,['en'],100,411574,1062842,1,...,2012-04-11T18:20:03Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99174,Taxi,NaN,False,1,NaN,['en'],150,411568,1062825,1,...,2012-04-11T18:00:17Z,Transportation,expired,[],NaN,To buy new tires for his car.,NaN,NaN,NaN,NaN
99175,Motorcycle Transport,NaN,False,1,NaN,['en'],175,411569,1062828,1,...,2012-04-11T18:00:17Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99178,Used Shoes,NaN,False,1,NaN,['en'],225,411565,1062820,1,...,2012-04-11T17:00:06Z,Clothing,expired,[],NaN,to buy used shoes to sell.,NaN,NaN,NaN,NaN
99179,Grocery Store,NaN,False,1,NaN,['en'],450,411521,1062748,1,...,2012-04-11T15:00:11Z,Food,expired,[],NaN,"To buy sugar, rice, cooking oil and tea leaves...",NaN,NaN,NaN,NaN
99222,Motorcycle Transport,NaN,False,1,NaN,['en'],1050,411084,1061367,1,...,2012-04-10T15:50:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
99230,General Store,NaN,False,1,NaN,['en'],250,411028,1061244,1,...,2012-04-10T14:30:04Z,Retail,expired,[],NaN,"To buy sugar, maize flour, cooking oil and sod...",NaN,NaN,NaN,NaN
99234,Motorcycle Transport,NaN,False,1,NaN,['en'],1100,411008,1061184,1,...,2012-04-10T14:00:06Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99248,Spare Parts,NaN,False,1,NaN,['en'],550,410713,1060307,1,...,2012-04-10T01:00:06Z,Retail,expired,[],NaN,To buy motor vehicle spare parts to sell.,NaN,NaN,NaN,NaN
99266,Animal Sales,NaN,False,1,NaN,['en'],975,410601,889282,1,...,2012-04-09T19:00:07Z,Agriculture,expired,[],NaN,to purchase building materials for constructin...,NaN,NaN,NaN,NaN
99275,Phone Accessories,NaN,False,1,NaN,['en'],525,410189,1059194,1,...,2012-04-08T15:50:04Z,Retail,expired,[],NaN,"To buy phone chargers, batteries, and spare pa...",NaN,NaN,NaN,NaN
99279,Motorcycle Transport,NaN,False,1,NaN,['en'],300,410048,1055316,1,...,2012-04-08T14:00:07Z,Transportation,expired,[],NaN,To buy another motorbike.,NaN,NaN,NaN,NaN
99309,General Store,NaN,False,1,NaN,['en'],425,409399,1052545,1,...,2012-04-07T14:00:08Z,Retail,expired,[],NaN,to purchase more goods and pay for his license.,NaN,NaN,NaN,NaN
99339,Tailoring,NaN,False,1,NaN,['en'],350,408862,1056676,1,...,2012-04-06T21:40:03Z,Services,expired,[],NaN,To buy a tailoring machine and cloth.,NaN,NaN,NaN,NaN
99438,Electronics Sales,NaN,False,1,NaN,['en'],825,407487,1048692,1,...,2012-04-05T16:00:08Z,Retail,expired,[],NaN,To buy more stock of electronic items for sale.,NaN,NaN,NaN,NaN
99535,Retail,NaN,False,1,NaN,['en'],875,404126,1041652,1,...,2012-04-01T08:20:02Z,Retail,expired,[],NaN,"to buy stock like sugar, cooking oil, and whea...",NaN,NaN,NaN,NaN
100154,Retail,NaN,False,1,NaN,['en'],175,403034,1036441,1,...,2012-03-16T09:50:07Z,Retail,expired,[],NaN,"To buy sugar, soda, maize flour and rice to sell.",NaN,NaN,NaN,NaN
100743,General Store,NaN,False,1,NaN,['en'],825,398456,1017592,1,...,2012-03-05T17:30:03Z,Retail,expired,[],NaN,"to buy sugar, rice, and cooking fat to offer f...",NaN,NaN,NaN,NaN
101800,Music Discs & Tapes,NaN,False,1,NaN,['en'],750,390800,1002253,1,...,2012-02-11T21:00:10Z,Retail,expired,[],NaN,to purchase more disks and CDs to sell.,NaN,NaN,NaN,NaN
101990,Motorcycle Transport,NaN,False,1,NaN,['en'],750,389594,1001435,1,...,2012-02-08T11:40:03Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102003,Phone Accessories,NaN,False,1,NaN,['en'],600,389541,1000098,1,...,2012-02-08T01:50:02Z,Retail,expired,[],NaN,to buy mobile phone accesories.,NaN,NaN,NaN,NaN
102004,Motorcycle Transport,NaN,False,1,NaN,['en'],875,389544,1000100,1,...,2012-02-08T01:30:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102026,Taxi,NaN,False,1,NaN,['en'],900,389427,1001163,1,...,2012-02-07T17:10:08Z,Transportation,expired,[],NaN,To buy tires for his car.,NaN,NaN,NaN,NaN

Select loans that have expired and with loan amounts greater than 1000

In [14]:
df[(df['status']=='expired')&(df['loan_amount']>1000)]

,activity,basket_amount,bonus_credit_eligibility,borrower_count,currency_exchange_loss_amount,description.languages,funded_amount,id,image.id,image.template_id,...,posted_date,sector,status,tags,themes,use,video.id,video.thumbnailImageId,video.title,video.youtubeId
2985,Restaurant,NaN,True,1,NaN,['en'],200,1263751,2478640,1,...,2017-03-27T21:20:03Z,Food,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to buy stocks of ingredients for preparing foo...,NaN,NaN,NaN,NaN
3063,Beauty Salon,NaN,True,1,NaN,['en'],550,1263522,2478356,1,...,2017-03-27T10:20:02Z,Services,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",NaN,to buy more beauty products for salon use.,NaN,NaN,NaN,NaN
3403,General Store,NaN,False,1,NaN,['en'],250,1260095,2473838,1,...,2017-03-22T00:00:03Z,Retail,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Pare...",['Rural Exclusion'],"to buy more stock of sugar, bread, flour, soap...",NaN,NaN,NaN,NaN
3763,Farming,NaN,False,16,NaN,['en'],450,1256812,2391328,1,...,2017-03-16T23:40:05Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
3843,Farming,NaN,False,10,NaN,['en'],550,1255670,2392490,1,...,2017-03-15T04:10:02Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost-efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
3884,Farming,NaN,False,14,NaN,['en'],825,1254560,2392391,1,...,2017-03-14T14:10:03Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost-efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
3892,Farming,NaN,False,13,NaN,['en'],800,1254533,2388816,1,...,2017-03-14T13:00:02Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost-efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
3995,Retail,NaN,True,1,NaN,['en'],2475,1253738,2465429,1,...,2017-03-13T04:40:02Z,Retail,expired,"[{'name': 'user_favorite'}, {'name': '#Woman O...",['Rural Exclusion'],to buy more stocks of fruits and vegetables.,NaN,NaN,NaN,NaN
4029,Motorcycle Transport,NaN,False,1,NaN,['en'],75,1253737,2457800,1,...,2017-03-13T00:50:02Z,Transportation,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,to purchase spare parts and service his motorb...,NaN,NaN,NaN,NaN
4038,Motorcycle Transport,NaN,True,1,NaN,['en'],500,1253697,2465386,1,...,2017-03-13T00:30:03Z,Transportation,expired,"[{'name': 'user_favorite'}, {'name': '#Parent'...",NaN,to service and maintain his motorcycle.,NaN,NaN,NaN,NaN
4850,Cattle,NaN,False,1,NaN,['en'],925,1248017,2449630,1,...,2017-03-05T19:20:04Z,Agriculture,expired,"[{'name': 'volunteer_pick'}, {'name': 'user_fa...",NaN,to buy cows to sell.,NaN,NaN,NaN,NaN
6223,Farming,NaN,False,13,NaN,['en'],375,1232605,2433919,1,...,2017-02-07T00:30:03Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...","to purchase a solar light, as well as hybrid s...",NaN,NaN,NaN,NaN
6379,Dairy,NaN,True,1,NaN,['en'],725,1231666,2432554,1,...,2017-02-05T05:30:03Z,Agriculture,expired,"[{'name': 'volunteer_pick'}, {'name': '#Animal...",['Rural Exclusion'],to buy two dairy cows to boost milk production.,NaN,NaN,NaN,NaN
6506,Farming,NaN,False,13,NaN,['en'],625,1229965,2430228,1,...,2017-02-02T19:50:05Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#First L...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase hybrid seeds and fertilizer to imp...,NaN,NaN,NaN,NaN
6532,Farming,NaN,False,15,NaN,['en'],1075,1230532,2375411,1,...,2017-02-02T14:30:03Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
6548,Dairy,NaN,True,1,NaN,['en'],1000,1230473,2430918,1,...,2017-02-02T04:00:02Z,Agriculture,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Anim...",['Rural Exclusion'],to buy animal feed and stock of ingredients fo...,NaN,NaN,NaN,NaN
6628,Farming,NaN,False,16,NaN,['en'],650,1229876,2378694,1,...,2017-01-31T21:00:03Z,Agriculture,expired,"[{'name': '#Sustainable Ag'}, {'name': '#Eco-f...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
6639,Farming,NaN,False,16,NaN,['en'],925,1229819,2378530,1,...,2017-01-31T19:50:08Z,Agriculture,expired,"[{'name': '#Sustainable Ag'}, {'name': '#Eco-f...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
6665,Farming,NaN,False,15,NaN,['en'],500,1229747,2378373,1,...,2017-01-31T17:00:03Z,Agriculture,expired,"[{'name': 'volunteer_pick'}, {'name': 'user_fa...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
6667,Farming,NaN,False,13,NaN,['en'],950,1229739,2378355,1,...,2017-01-31T16:50:06Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy cost-efficient maize seeds and fertiliz...,NaN,NaN,NaN,NaN
6690,General Store,NaN,True,1,NaN,['en'],125,1229561,2429736,1,...,2017-01-31T06:40:03Z,Retail,expired,"[{'name': '#Parent'}, {'name': '#Schooling'}, ...",NaN,"to buy more stock of bread, flour, soap and ot...",NaN,NaN,NaN,NaN
6718,Beverages,NaN,True,1,NaN,['en'],400,1229029,2428799,1,...,2017-01-30T18:20:03Z,Food,expired,"[{'name': '#Parent'}, {'name': '#Repeat Borrow...",NaN,to buy more stock of soft drinks.,NaN,NaN,NaN,NaN
6762,Carpentry,NaN,True,1,NaN,['en'],850,1228978,2428726,1,...,2017-01-30T13:40:02Z,Construction,expired,"[{'name': 'user_favorite'}, {'name': '#Animals...",NaN,to buy more stock of carpentry materials and a...,NaN,NaN,NaN,NaN
6895,Cereals,NaN,True,1,NaN,['en'],475,1227625,2426638,1,...,2017-01-27T18:30:04Z,Food,expired,"[{'name': '#Woman Owned Biz'}, {'name': '#Vega...",['Rural Exclusion'],to buy more stocks of cereals and onions.,NaN,NaN,NaN,NaN
6982,Farming,NaN,False,14,NaN,['en'],300,1226787,2370859,1,...,2017-01-26T22:50:03Z,Agriculture,expired,"[{'name': '#Sustainable Ag'}, {'name': '#Eco-f...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
7005,Farming,NaN,False,13,NaN,['en'],150,1226947,2377075,1,...,2017-01-26T19:10:03Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...","to buy seeds, fertilizer & 2 solar lights.",NaN,NaN,NaN,NaN
7008,Farming,NaN,False,16,NaN,['en'],225,1226940,2377054,1,...,2017-01-26T19:00:05Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to buy seeds & fertilizer.,NaN,NaN,NaN,NaN
7037,Farming,NaN,False,13,NaN,['en'],75,1226867,2371090,1,...,2017-01-26T17:50:05Z,Agriculture,expired,"[{'name': '#Sustainable Ag'}, {'name': '#Eco-f...","['Green', 'Rural Exclusion', 'Earth Day Campai...","to purchase a solar light, as well as hybrid s...",NaN,NaN,NaN,NaN
7066,Farming,NaN,False,12,NaN,['en'],550,1226748,2375683,1,...,2017-01-26T17:00:07Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#Sustain...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
7068,Farming,NaN,False,15,NaN,['en'],350,1226755,2375327,1,...,2017-01-26T17:00:07Z,Agriculture,expired,"[{'name': 'user_favorite'}, {'name': '#First L...","['Green', 'Rural Exclusion', 'Earth Day Campai...",to purchase a solar light and gain access to c...,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97996,General Store,NaN,False,1,NaN,['en'],400,422462,1087257,1,...,2012-05-08T14:30:08Z,Retail,expired,[],NaN,"to buy sugar, maize flour, cooking fat, and ti...",NaN,NaN,NaN,NaN
98011,Hardware,NaN,False,1,NaN,['en'],1050,422457,1087253,1,...,2012-05-08T12:50:10Z,Retail,expired,[],NaN,To buy paint and lubricants for her hardware s...,NaN,NaN,NaN,NaN
98056,Used Clothing,NaN,False,1,NaN,['en'],500,422383,1087139,1,...,2012-05-08T04:40:15Z,Clothing,expired,[],NaN,To buy second-hand clothes.,NaN,NaN,NaN,NaN
98222,Agriculture,NaN,False,1,NaN,['en'],650,420237,1081963,1,...,2012-05-03T18:50:03Z,Agriculture,expired,[],NaN,To buy and install a milling machine.,NaN,NaN,NaN,NaN
98238,Property,NaN,False,1,NaN,['en'],1000,420945,1068310,1,...,2012-05-01T06:30:02Z,Housing,expired,[],NaN,to finish up his rental houses.,NaN,NaN,NaN,NaN
98253,Retail,NaN,False,1,NaN,['en'],275,420824,1069337,1,...,2012-04-30T22:00:12Z,Retail,expired,[],NaN,"to buy soft drinks, cooking oil, and foodstuff...",NaN,NaN,NaN,NaN
98261,Motorcycle Transport,NaN,False,1,NaN,['en'],250,418892,1079354,1,...,2012-04-30T14:20:03Z,Transportation,expired,[],NaN,"To purchase a three-wheeler taxi, commonly ref...",NaN,NaN,NaN,NaN
98292,Hardware,NaN,False,1,NaN,['en'],325,419785,1080940,1,...,2012-04-29T19:20:04Z,Retail,expired,[],NaN,to buy more stock to expand his business.,NaN,NaN,NaN,NaN
98304,General Store,NaN,False,1,NaN,['en'],750,419788,1071790,1,...,2012-04-29T18:20:04Z,Retail,expired,[],NaN,"to purchase crates of sodas, baking flour, mai...",NaN,NaN,NaN,NaN
98349,Property,NaN,False,1,NaN,['en'],325,418857,1079273,1,...,2012-04-27T20:50:03Z,Housing,expired,[],NaN,To renovate the premises of rental houses and ...,NaN,NaN,NaN,NaN
98579,Printing,NaN,False,1,NaN,['en'],450,416565,1067122,1,...,2012-04-23T15:10:03Z,Services,expired,[],NaN,to purchase a printing machine.,NaN,NaN,NaN,NaN
98582,Cosmetics Sales,NaN,False,1,NaN,['en'],675,416594,1074022,1,...,2012-04-23T15:00:13Z,Retail,expired,[],NaN,To buy cosmetics and body lotions to sell.,NaN,NaN,NaN,NaN
98584,Motorcycle Transport,NaN,False,1,NaN,['en'],850,416588,1074009,1,...,2012-04-23T14:50:04Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
98591,Cosmetics Sales,NaN,False,1,NaN,['en'],875,416576,1073994,1,...,2012-04-23T14:20:03Z,Retail,expired,[],NaN,To buy cosmetics to sell.,NaN,NaN,NaN,NaN
98594,Hardware,NaN,False,1,NaN,['en'],900,416570,768383,1,...,2012-04-23T13:30:03Z,Retail,expired,[],NaN,"To buy grinding disks, nails, and iron sheets ...",NaN,NaN,NaN,NaN
98610,Vehicle Repairs,NaN,False,1,NaN,['en'],975,413990,1068414,1,...,2012-04-23T08:50:23Z,Services,expired,[],NaN,To complete construction of a house on his plot.,NaN,NaN,NaN,NaN
98986,Clothing Sales,NaN,False,1,NaN,['en'],850,413842,1056844,1,...,2012-04-17T15:20:02Z,Clothing,expired,[],NaN,"to purchase leather jackets, clothes materials...",NaN,NaN,NaN,NaN
99222,Motorcycle Transport,NaN,False,1,NaN,['en'],1050,411084,1061367,1,...,2012-04-10T15:50:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
99234,Motorcycle Transport,NaN,False,1,NaN,['en'],1100,411008,1061184,1,...,2012-04-10T14:00:06Z,Transportation,expired,[],NaN,To buy a motorbike.,NaN,NaN,NaN,NaN
99266,Animal Sales,NaN,False,1,NaN,['en'],975,410601,889282,1,...,2012-04-09T19:00:07Z,Agriculture,expired,[],NaN,to purchase building materials for constructin...,NaN,NaN,NaN,NaN
99275,Phone Accessories,NaN,False,1,NaN,['en'],525,410189,1059194,1,...,2012-04-08T15:50:04Z,Retail,expired,[],NaN,"To buy phone chargers, batteries, and spare pa...",NaN,NaN,NaN,NaN
99279,Motorcycle Transport,NaN,False,1,NaN,['en'],300,410048,1055316,1,...,2012-04-08T14:00:07Z,Transportation,expired,[],NaN,To buy another motorbike.,NaN,NaN,NaN,NaN
99339,Tailoring,NaN,False,1,NaN,['en'],350,408862,1056676,1,...,2012-04-06T21:40:03Z,Services,expired,[],NaN,To buy a tailoring machine and cloth.,NaN,NaN,NaN,NaN
99438,Electronics Sales,NaN,False,1,NaN,['en'],825,407487,1048692,1,...,2012-04-05T16:00:08Z,Retail,expired,[],NaN,To buy more stock of electronic items for sale.,NaN,NaN,NaN,NaN
99535,Retail,NaN,False,1,NaN,['en'],875,404126,1041652,1,...,2012-04-01T08:20:02Z,Retail,expired,[],NaN,"to buy stock like sugar, cooking oil, and whea...",NaN,NaN,NaN,NaN
100154,Retail,NaN,False,1,NaN,['en'],175,403034,1036441,1,...,2012-03-16T09:50:07Z,Retail,expired,[],NaN,"To buy sugar, soda, maize flour and rice to sell.",NaN,NaN,NaN,NaN
101990,Motorcycle Transport,NaN,False,1,NaN,['en'],750,389594,1001435,1,...,2012-02-08T11:40:03Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102003,Phone Accessories,NaN,False,1,NaN,['en'],600,389541,1000098,1,...,2012-02-08T01:50:02Z,Retail,expired,[],NaN,to buy mobile phone accesories.,NaN,NaN,NaN,NaN
102004,Motorcycle Transport,NaN,False,1,NaN,['en'],875,389544,1000100,1,...,2012-02-08T01:30:02Z,Transportation,expired,[],NaN,to buy a motorbike.,NaN,NaN,NaN,NaN
102026,Taxi,NaN,False,1,NaN,['en'],900,389427,1001163,1,...,2012-02-07T17:10:08Z,Transportation,expired,[],NaN,To buy tires for his car.,NaN,NaN,NaN,NaN

## Great Resources for further information:

- [10 minute introduction to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [Pandas in ipython notebooks](http://nbviewer.jupyter.org/github/jvns/pandas-cookbook/blob/master/cookbook/A%20quick%20tour%20of%20IPython%20Notebook.ipynb)

In [15]:
!ls

Intro to Pandas.ipynb intro_to_python.ipynb
data.csv              loan_details.csv